Repository spyoungtech/ahk: changes, and which pre-commit hooks are due for each by the changed paths.
All: unasync-rewrite, set-constants

.pre-commit-config.yaml:

repos:

- repo: local
  hooks:
  - id: unasync-rewrite
    name: unasync-rewrite
    entry: python .unasync-rewrite.py
    language: python
    types: [python]
    files: ^(ahk/_async/.*\.py|\.unasync-rewrite\.py|tests/_async/.*\.py)
    pass_filenames: false
    additional_dependencies:
        - git+https://github.com/spyoungtech/unasync.git@unasync-remove
        - tokenize_rt
        - black
  - id: set-constants
    name: set-constants
    entry: python _set_constants.py
    language: python
    types: [python]
    pass_filenames: false
    files: ^(ahk/daemon\.ahk|ahk/_constants\.py)

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: mixed-line-ending
        args: ["-f", "lf"]
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: double-quote-string-fixer
-   repo: https://github.com/psf/black
    rev: '23.3.0'
    hooks:
    -   id: black
        args:
            - "-S"
            - "-l"
            - "120"
        exclude: ^(ahk/_sync/.*\.py)
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.9.0
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
    -   id: mypy
        args:
            - "--strict"
        exclude: ^(tests/.*|setup\.py|\.build\.py|\.unasync-rewrite\.py|_tests_setup\.py|buildunasync\.py)
        additional_dependencies:
          - jinja2

-   repo: https://github.com/pycqa/flake8
    rev: '6.0.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
        args:
          - "--ignore"
          - "E501,E704,E301,W503"
        files: ahk\/(?!_sync).*

fix base64 encoding ; versioned extensions
  ahk/_async/engine.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/extensions.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/hotkeys-v2.ahk
  tests/_async/test_screen.py
  tests/_sync/test_screen.py
Due: unasync-rewrite, set-constants

fix base64 decoding for hotkey scripts
  ahk/templates/hotkeys-v2.ahk
Due: none

add project urls
  setup.cfg
Due: none

add AutoHotkey version autodetection
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/_utils.py
  buildunasync.py
  tests/_async/test_hotkeys.py
  tests/_async/test_versioning.py
  tests/_sync/test_hotkeys.py
  tests/_sync/test_versioning.py
Due: unasync-rewrite

support v2 default install location
  ahk/_utils.py
Due: none

document v2 support
  docs/README.md
Due: none

set binary extra to 2023.9.0
  .github/workflows/test.yaml
  setup.cfg
Due: none

preload crypt32
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
  ahk/templates/hotkeys-v2.ahk
  ahk/templates/hotkeys.ahk
Due: set-constants

fix ControlSend in v2
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

move version resolution into the engine
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  tests/_async/test_window.py
  tests/_sync/test_window.py
Due: unasync-rewrite

use variadic calls
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite, set-constants

extension documentation and tests
  docs/extending.rst
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite

more extension documentation
  docs/extending.rst
  requirements-dev.txt
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite

more extension documentation
  docs/extending.rst
Due: none

extension compatibility checks
  ahk/_async/engine.py
  ahk/_sync/engine.py
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite

fix python3.8 compatibility in tests
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite

1.4.0rc2 :package:
  setup.cfg
Due: none

fix bug in win_get_position
  ahk/_constants.py
  ahk/templates/daemon.ahk
Due: set-constants

initial generic version typing
  ahk/__init__.py
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_async/window.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/_sync/window.py
  ahk/extensions.py
  ahk/message.py
Due: unasync-rewrite

update actions
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

coveralls parallel
  .github/workflows/test.yaml
Due: none

1.4.0 :package:
  setup.cfg
Due: none

exit AHK daemon process if parent Python process exits unexpectedly
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
Due: set-constants

Add handling to detect abrupt parent Python process termination for hotkeys process
  ahk/_constants.py
  ahk/_hotkey.py
  ahk/templates/hotkeys-v2.ahk
  ahk/templates/hotkeys.ahk
Due: set-constants

double keepalive interval to 2000ms
  ahk/_constants.py
  ahk/_hotkey.py
  ahk/templates/hotkeys-v2.ahk
  ahk/templates/hotkeys.ahk
Due: set-constants

update docs
  docs/README.md
Due: none

1.5.0rc1
  setup.cfg
Due: none

1.5.0 :package:
  setup.cfg
Due: none

fix conflicts with black and flake8/reorder-imports
  .pre-commit-config.yaml
  _tests_setup.py
  ahk/_async/transport.py
  ahk/_async/window.py
  ahk/_hotkey.py
  ahk/_sync/transport.py
  ahk/_sync/window.py
  ahk/directives.py
  ahk/keys.py
  ahk/message.py
  buildunasync.py
Due: unasync-rewrite

Update keys.py curly bracket check
  ahk/keys.py
Due: none

GH-264 fix mouse_drag error when using AutoHotkey v2
  ahk/_async/engine.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/templates/daemon-v2.ahk
Due: unasync-rewrite, set-constants

1.5.1 :package:
  setup.cfg
Due: none

make mouse_drag button argument consistent with click
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

[feat] add ability to change SendMode
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
  tests/_async/test_mouse.py
  tests/_sync/test_mouse.py
Due: unasync-rewrite, set-constants

GH-266 fix key_wait
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
  docs/README.md
  tests/_async/test_keys.py
  tests/_sync/test_keys.py
Due: unasync-rewrite, set-constants

update methods docs
  docs/api/methods.rst
Due: none

fix overload formatting
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

update documentation
  docs/README.md
  docs/api/methods.rst
Due: none

add issue templates
  .github/ISSUE_TEMPLATE/00_bug.yaml
  .github/ISSUE_TEMPLATE/01_feature.yaml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

GH-270 add ability to hide tray icon at runtime
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants
