Repository spyoungtech/ahk: changes, and which pre-commit hooks are due for each by the changed paths.
All: unasync-rewrite, set-constants

unasync-rewrite:
  name: unasync-rewrite
  entry: python .unasync-rewrite.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - git+https://github.com/spyoungtech/unasync.git@unasync-remove
  - tokenize_rt
  - black

set-constants:
  name: set-constants
  entry: python _set_constants.py
  language: python
  pass_filenames: false

it's not NoReturn anymore
  ahk/_sync/engine.py
Due: none

Remove recommendation for psg, since it is no longer open source
  docs/api/methods.rst
Due: none

GH-307 implement SetNumLockState/SetScrollLockState
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/_types.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
  docs/api/methods.rst
Due: unasync-rewrite, set-constants

1.7.3 :package:
  setup.cfg
Due: none

Fallback to string when keystate is not numeric
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
Due: set-constants

1.7.4 :package:
  setup.cfg
Due: none

GH-315 fix usage of SetKeyDelay in AHKv2 when only one of key_press_duration or key_delay is provided
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

1.7.5 :package:
  setup.cfg
Due: none

do not initialize transport for nonblocking calls
  ahk/_async/transport.py
  ahk/_sync/transport.py
Due: unasync-rewrite

use absolute imports
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

1.7.6 :package:
  setup.cfg
Due: none

add test for GH-328
  tests/_async/test_keys.py
  tests/_sync/test_keys.py
Due: unasync-rewrite

specify encoding for hotkeys
  ahk/_hotkey.py
Due: none

1.7.7 :package:
  setup.cfg
Due: none

support for extending window classes
  ahk/_async/engine.py
  ahk/_async/window.py
  ahk/_sync/engine.py
  ahk/_sync/window.py
  ahk/extensions.py
Due: unasync-rewrite

document window extensions feature
  docs/extending.rst
Due: none

fix links
  docs/extending.rst
Due: none

1.7.8 :package:
  setup.cfg
Due: none

GH-338 allow garbage collection of non-daemon processes
  ahk/_async/transport.py
  ahk/_sync/transport.py
  buildunasync.py
Due: unasync-rewrite

1.8.0 :package:
  setup.cfg
Due: none

Search the default install directory for matching executables instead of hardcoded exe paths.
  ahk/_utils.py
Due: none

WinWait requires at least one of the main 4 keys be set.
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

Cast control to number if numeric & unset ctrl if falsy for v2.
  ahk/templates/daemon-v2.ahk
Due: none

Rearrange code to properly deal with deprecated and modern install behavior.
  ahk/_utils.py
Due: none

Ran black.
  ahk/_utils.py
Due: none

1.8.1 :package:
  setup.cfg
Due: none

gh-361 fix bug in show_tooltip that silently omitted `which` argument
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

pin mypy for now
  requirements-dev.txt
Due: none

fix show_tooltip for AHK v2
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

unpin mypy, fix typing issues
  ahk/_async/transport.py
  ahk/_sync/transport.py
  requirements-dev.txt
Due: unasync-rewrite

1.8.2 :package:
  setup.cfg
Due: none

fix version-specific type hinting
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

type-hint Window classmethods for engine version
  ahk/_async/engine.py
  ahk/_async/window.py
  ahk/_sync/engine.py
  ahk/_sync/window.py
Due: unasync-rewrite

1.8.3 :package:
  setup.cfg
Due: none

contribution guide
  .github/workflows/test.yaml
  CONTRIBUTING.md
  requirements-dev.txt
Due: none

clarify contribution expectations
  CONTRIBUTING.md
Due: none

update doc ordering, format, TOC
  CONTRIBUTING.md
Due: none

add coord_mode keyword arg for mouse_move
  ahk/_async/engine.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

1.8.4 :package:
  setup.cfg
Due: none

Path conditions:
  unasync-rewrite: any of: ^(ahk/_async/.*\.py|\.unasync-rewrite\.py|tests/_async/.*\.py) and \.py$
  set-constants: any of: ^(ahk/daemon\.ahk|ahk/_constants\.py) and \.py$
