Repository spyoungtech/ahk: changes, and which pre-commit hooks are due for each by the changed paths.
All: unasync-rewrite, set-constants

.pre-commit-config.yaml:

repos:

- repo: local
  hooks:
  - id: unasync-rewrite
    name: unasync-rewrite
    entry: python .unasync-rewrite.py
    language: python
    types: [python]
    files: ^(ahk/_async/.*\.py|\.unasync-rewrite\.py|tests/_async/.*\.py)
    pass_filenames: false
    additional_dependencies:
        - git+https://github.com/spyoungtech/unasync.git@unasync-remove
        - tokenize_rt
        - black
  - id: set-constants
    name: set-constants
    entry: python _set_constants.py
    language: python
    types: [python]
    pass_filenames: false
    files: ^(ahk/daemon\.ahk|ahk/_constants\.py)

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: mixed-line-ending
        args: ["-f", "lf"]
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: double-quote-string-fixer
-   repo: https://github.com/psf/black
    rev: '23.3.0'
    hooks:
    -   id: black
        args:
            - "-S"
            - "-l"
            - "120"
        exclude: ^(ahk/_sync/.*\.py)
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.9.0
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
    -   id: mypy
        args:
            - "--strict"
        exclude: ^(tests/.*|setup\.py|\.build\.py|\.unasync-rewrite\.py|_tests_setup\.py|buildunasync\.py)
        additional_dependencies:
          - jinja2

-   repo: https://github.com/pycqa/flake8
    rev: '6.0.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
        args:
          - "--ignore"
          - "E501,E704,E301,W503"
        files: ahk\/(?!_sync).*

Add InputBox
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

add inputbox test
  tests/_async/test_gui.py
  tests/_sync/test_gui.py
Due: unasync-rewrite

add file_select_box
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

add folder select box
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

remove unused code
  ahk/_async/engine.py
  ahk/_async/window.py
  ahk/_sync/engine.py
  ahk/_sync/window.py
Due: unasync-rewrite

update methods documentation
  docs/README.md
  docs/api/methods.rst
Due: none

1.3.0 :package:
  setup.cfg
Due: none

LICENSE :balance_scale:
  LICENSE
Due: none

include license in distributions
  MANIFEST.in
Due: none

exclude abstract base class from message registry
  .pre-commit-config.yaml
  ahk/message.py
Due: none

initial work to enable extensions
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/_sync/window.py
  ahk/extensions.py
  ahk/templates/daemon.ahk
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite, set-constants

fix typing import for python<3.10
  ahk/extensions.py
Due: none

prevent merging duplicate methods
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

cleanup
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

new message identification
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/transport.py
  ahk/message.py
  ahk/templates/daemon.ahk
Due: unasync-rewrite, set-constants

use Critical on daemon thread
  ahk/_constants.py
  ahk/templates/daemon.ahk
Due: set-constants

extension documentation
  ahk/_async/engine.py
  ahk/_sync/engine.py
  docs/api/index.rst
  docs/api/message.rst
  docs/extending.rst
  docs/index.rst
Due: unasync-rewrite

notes
  docs/extending.rst
Due: none

update tests
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite

prepare 1.4.0rc1
  setup.cfg
Due: none

add stacklevel to warnings
  ahk/extensions.py
Due: none

Update directives.py
  ahk/directives.py
Due: none

extension registry cleanup
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/extensions.py
  ahk/templates/daemon.ahk
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite, set-constants

better error messages
  ahk/_async/transport.py
  ahk/_sync/transport.py
Due: unasync-rewrite

fix extension tests
  tests/_async/test_extensions.py
  tests/_sync/test_extensions.py
Due: unasync-rewrite

[WIP] initial v2 work
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/templates/daemon-v2.ahk
  tests/_async/test_clipboard.py
  tests/_async/test_extensions.py
  tests/_async/test_gui.py
  tests/_async/test_hotkeys.py
  tests/_async/test_keys.py
  tests/_async/test_mouse.py
  tests/_async/test_registry.py
  tests/_async/test_screen.py
  tests/_async/test_scripts.py
  tests/_async/test_window.py
  tests/_sync/test_clipboard.py
  tests/_sync/test_extensions.py
  tests/_sync/test_gui.py
  tests/_sync/test_hotkeys.py
  tests/_sync/test_keys.py
  tests/_sync/test_mouse.py
  tests/_sync/test_registry.py
  tests/_sync/test_screen.py
  tests/_sync/test_scripts.py
  tests/_sync/test_window.py
Due: unasync-rewrite

double timeout for double the tests
  .github/workflows/test.yaml
Due: none

upgrade binary requirement
  .github/workflows/test.yaml
Due: none

fix v1 bug in edge case in listing window controls
  ahk/_constants.py
  ahk/templates/daemon.ahk
Due: set-constants

v2 - fix uses of ErrorLevel from v1
  ahk/templates/daemon-v2.ahk
  tests/_async/test_scripts.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite

set constant script for v2
  _set_constants.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_sync/transport.py
Due: unasync-rewrite, set-constants

Add #Requires directive to daemon scripts
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/daemon.ahk
Due: set-constants

fix error message
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

Add stack to error message in v2
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

misc fixes from warnings
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

fix controlsend arg order, fix script tests for not found window
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
  tests/_async/test_scripts.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite, set-constants

v2 window functionality
  ahk/_async/engine.py
  ahk/_async/window.py
  ahk/_constants.py
  ahk/_sync/engine.py
  ahk/_sync/window.py
  ahk/templates/daemon-v2.ahk
  tests/_async/test_window.py
  tests/_sync/test_window.py
Due: unasync-rewrite, set-constants

v2 hotkeys
  _set_constants.py
  ahk/_async/transport.py
  ahk/_constants.py
  ahk/_hotkey.py
  ahk/_sync/transport.py
  ahk/templates/daemon-v2.ahk
  ahk/templates/hotkeys-v2.ahk
  ahk/templates/hotkeys.ahk
  tests/_async/test_keys.py
  tests/_async/test_scripts.py
  tests/_sync/test_keys.py
  tests/_sync/test_scripts.py
Due: unasync-rewrite, set-constants

remove debug print
  ahk/_hotkey.py
Due: none
