Repository spyoungtech/ahk: changes, and which pre-commit hooks are due for each by the changed paths.
All: unasync-rewrite, set-constants

.pre-commit-config.yaml:

repos:

- repo: local
  hooks:
  - id: unasync-rewrite
    name: unasync-rewrite
    entry: python .unasync-rewrite.py
    language: python
    types: [python]
    files: ^(ahk/_async/.*\.py|\.unasync-rewrite\.py|tests/_async/.*\.py)
    pass_filenames: false
    additional_dependencies:
        - git+https://github.com/spyoungtech/unasync.git@unasync-remove
        - tokenize_rt
        - black
  - id: set-constants
    name: set-constants
    entry: python _set_constants.py
    language: python
    types: [python]
    pass_filenames: false
    files: ^(ahk/daemon\.ahk|ahk/_constants\.py)

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: mixed-line-ending
        args: ["-f", "lf"]
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: double-quote-string-fixer
-   repo: https://github.com/psf/black
    rev: '23.3.0'
    hooks:
    -   id: black
        args:
            - "-S"
            - "-l"
            - "120"
        exclude: ^(ahk/_sync/.*\.py)
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.9.0
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.2.0'
    hooks:
    -   id: mypy
        args:
            - "--strict"
        exclude: ^(tests/.*|setup\.py|\.build\.py|\.unasync-rewrite\.py|_tests_setup\.py|buildunasync\.py)
        additional_dependencies:
          - jinja2

-   repo: https://github.com/pycqa/flake8
    rev: '6.0.0'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
        args:
          - "--ignore"
          - "E501,E704,E301,W503"
        files: ahk\/(?!_sync).*

update readme
  docs/README.md
Due: none

1.5.2 :package:
  setup.cfg
Due: none

fix incorrect return type annotation for `list_windows` when `blocking=False`
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

minor changes to extensions doc
  docs/extending.rst
Due: none

v1.5.3 :package:
  setup.cfg
Due: none

document how to use mypy plugins for type checking methods from extensions
  docs/extending.rst
Due: none

use `get_attribute_hook` instead of `get_method_signature_hook`
  docs/extending.rst
Due: none

fix key_state for AHKv2 when no mode argument is given
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

v1.5.4 :package:
  setup.cfg
Due: none

fix warning message to use correct argument name
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

document title match mode differences in AHK v2
  docs/README.md
Due: none

GH-280 v2 workaround for when width and height are not specified
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

GH-281 add use_hwnd parameter for Control methods
  ahk/_async/window.py
  ahk/_sync/window.py
Due: unasync-rewrite

add tests for detect hidden windows
  tests/_async/test_window.py
  tests/_sync/test_window.py
Due: unasync-rewrite

GH-284 fix detect hidden windows in AHK v2
  ahk/_async/engine.py
  ahk/_sync/engine.py
  tests/_async/test_window.py
  tests/_sync/test_window.py
Due: unasync-rewrite

v1.6.0 :package:
  setup.cfg
Due: none

refactor exceptions to exceptions module
  ahk/_async/transport.py
  ahk/_async/window.py
  ahk/_sync/transport.py
  ahk/_sync/window.py
  ahk/_utils.py
  ahk/exceptions.py
  ahk/message.py
Due: unasync-rewrite

v1.6.1 :package:
  setup.cfg
Due: none

GH-289 fix message box in AHKv2
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

1.6.2 :package:
  setup.cfg
Due: none

fix clip_wait in AHKv2
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

1.6.3 :package:
  setup.cfg
Due: none

typing improvements
  ahk/__init__.py
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_async/window.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
  ahk/_sync/window.py
  ahk/_types.py
  ahk/message.py
Due: unasync-rewrite

1.7.0 :package:
  setup.cfg
Due: none

Typo fix
  ahk/_hotkey.py
Due: none

fix ordering of TrayTip arguments for v2
  ahk/_constants.py
  ahk/templates/daemon-v2.ahk
Due: set-constants

1.7.1 :package:
  setup.cfg
Due: none

executor tray tip directive
  ahk/directives.py
Due: none

tray-tip directive refactoring
  ahk/directives.py
Due: none

fix operator spacing in fstring
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

use NamedTemporaryFile for hotkeys, like regular daemon
  ahk/_hotkey.py
  ahk/_utils.py
Due: none

prevent buildup of tempfiles when hotkeys are restarted
  ahk/_hotkey.py
Due: none

use try_remove utility to suppress potential atexit failures
  ahk/_async/engine.py
  ahk/_async/transport.py
  ahk/_sync/engine.py
  ahk/_sync/transport.py
Due: unasync-rewrite

fix typehint for keywait
  ahk/_async/engine.py
  ahk/_sync/engine.py
Due: unasync-rewrite

1.7.2 :package:
  setup.cfg
Due: none

Use asyncio to block forever rather than time sleep
  ahk/_sync/engine.py
Due: none

should be self not ahk
  ahk/_sync/engine.py
Due: none

fix typing
  ahk/_sync/engine.py
Due: none

fix bug introduced by https://github.com/psf/black/pull/4270 where `black.assert_equivalent` no longer raises an AssertionError
  .unasync-rewrite.py
Due: unasync-rewrite

explicit return of None
  ahk/_sync/engine.py
Due: none
